/* define global color values to use throughout app */
:root {
    --clr-primary: dodgerblue;
    --clr-dark: black;
    --clr-neutral: grey;
    --clr-light: #eee;
}

/* define global styling values */
body {
    font: 1.125em basic-cans, sans-serif;
    min-height: 100vh;
    line-height: 1.6;
    background: var(--clr-dark);
    overflow-x: hidden;
}

a { color: var(--clr-primary); }

/* define media queries for resolutions: <640px, 640-1000px, >1000px */
@media only screen and (max-width: 639px) {
    .header { width: 99.9vw; }

    .nav__icon,
    .nav__icon::before,
    .nav__icon::after {
        height: 3px;
        width: 2em;
    }

    .nav__icon::before { bottom: 6px; }
    .nav__icon::after { top: 6px;}
    .nav-open .nav__icon::after { transform: rotate(90deg) translate(-6px); }

    .nav__menu {
        left: 0;
        transform: translateY(-150%);
        width: 100%;
    }

    .logo { display: none; }
}

@media only screen and (min-width: 640px) and (max-width: 1000px) {
    .header { width: 90vw; }

    .nav__icon,
    .nav__icon::before,
    .nav__icon::after {
        height: 5px;
        width: 3em;
    }

    .nav__icon::before { bottom: 10px; }
    .nav__icon::after { top: 10px;}
    .nav-open .nav__icon::after { transform: rotate(90deg) translate(-10px); }

    .nav__menu {
        left: 0;
        margin-top: 10px;
        transform: translateY(-110%);
        width: 100%;
    }

    .content {
        margin-top: 70px;
    }
}

@media only screen and (min-width: 1001px) {
    .header { width: 75vw; }
    .nav__toggle { margin-left: 30px; }

    .nav__icon,
    .nav__icon::before,
    .nav__icon::after {
        height: 5px;
        width: 3em;
    }

    .nav__icon::before { bottom: 10px; }
    .nav__icon::after { top: 10px;}
    .nav-open .nav__icon::after { transform: rotate(90deg) translate(-10px); }

    .nav__menu {
        transform: translateY(-110%);
    }

    .content {
        margin-top: 70px;
        max-width: 800px;
    }

}

/* define React App container values */
.App {
    align-items: center;
    background-image: url('./media/Sig-blue.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 432px 771px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    max-width: 1000px;
    margin: 0 auto;
}

.header {
    position: sticky;
    top: 0;
    z-index: 1;
}

.content {
    background: var(--clr-light);
    opacity: 0.75;
    padding: 3em;
    width: 70vw;
}

.footer {
    background-image: url('./media/logo.png');
    background-repeat: no-repeat;
    background-size: 80px 48px;
    background-position: center;
    opacity: 0.75;
    color: var(--clr-light);
    font-size: 0.75em;
    margin-top: 60px;
    line-height: 72px;

    display: flex;
    align-items: center;
    /* position: relative; */
    /* height: 100%; */

}

/* ----- nav bar hamburger button ----- */
.nav__icon {
    background-color: var(--clr-primary);
    display: block;
    position: relative;
    transition: transform 350ms ease-in-out, opacity 200ms linear;
}

.nav__icon::before,
.nav__icon::after {
    background-color: var(--clr-primary);
    content: '';
    position: absolute;
    left: 0;
    transition: transform 350ms ease-in-out, opacity 200ms linear;
}

.nav__toggle {
    background: none;
    border: none;
    padding: 2em .5em;
    position: absolute;
}
/* ------------------------------------ */


/* ------ drop-down menu contents ------ */
.nav__menu {
    background: var(--clr-light);
    box-shadow: 0 0 3em rgba(0,0,0,.15);
    height: 250px;
    position: absolute;
    transition: transform 300ms;
}

.nav__list {
    list-style: none;
    margin: 0;
    display: flex;
    flex-direction: column;
    padding: 1em 3.4em;
}

.nav__item { margin-bottom: 1.5em; }

.nav__link {
    text-decoration: none;
    color: var(--clr-dark);
}

.nav__link:hover { color: var(--clr-primary); }
/* ------------------------------------ */


/* ------ drop down menu actions -------*/
.nav-open .nav__menu { transform: translateY(15%); }
.nav-open .nav__icon { transform: rotate(45deg); }
.nav-open .nav__icon::before { opacity: 0; }
/* ------------------------------------ */
